body{
    background-color:rgb(128, 192, 136);
}
h1{
    color: rgb(255, 0, 0);
    font-size: 60 px;
    text-align: center;
    margin-left: 60px;
    margin-left: 60px;
}
p{
            color: (11,11,11);
    font-size: 30px;
    text-align: center;
}
.peixe{
    width: 20%;
    margin-left:160px;
}
.tk{
    width: 20%;
    margin-left: 800px;
}
.logo{
    height: 400px;
    width: 400px;
    transition:0.3s;
}
.logo:hover{
    opacity:0.8;
}
header{
display:flex;
background-color:rgb(255, 255, 255);
padding:10px;
}