body{
    background-color:rgb(235, 235, 235);
}
h1{
    color: rgb(255, 0, 0);
    font-size: 60 px;
    text-align: center;
}
p{
        color: (11,11,11);
    font-size: 30px;
    text-align: center;
}
img{
    width: 20%;
    margin-left:760px;
    border: 3px dashed rgb(0, 0, 0);
    border-bottom: 3px solid black;
    border-top: 3px solid black;  
}
.imghtml{
    width: 20%
    margin-right:200px;
}


