body{
    background-color:rgb(235, 235, 235);
}
h1{
    color: rgb(255, 0, 0);
    font-size: 60 px;
    text-align: center;
    margin-left: 60px;
    margin-left: 60px;
}
p{
        color: (11,11,11);
    font-size: 30px;
    text-align: center;
}
img{
    width: 20%;
    margin-left:160px;
    border: 3px dashed rgb(0, 0, 0);
}
.imghtml{
    margin-left: 1000px;
}
.logo{
    margin-left: 500px;
}
div{
    display: flex;
}